<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial da biblioteca</title>
    <link rel="stylesheet" href="/css/geral.css" />
    <link rel="stylesheet" href="../static/css/geral.css" />
    <link rel="shortcut icon" href="https://estudante.sesisenai.org.br/img/favicon.ico">
</head>

<body>

    <header>
        <div id="logoDiv">
            <img src="../static/img/LogoSenai-SC.png" alt="Imagem logotipo do SENAI de Santa Catarina">
            <p>Sistemas de bibliotecas SENAI</p>
        </div>


    </header>
    <main>

    </main>

    <footer>

    </footer>
</body>

</html>