<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/geral.css" />
    <link rel="stylesheet" href="../static/css/geral.css" />
    <link rel="stylesheet" href="../static/css/perfil.css" />
    <link rel="stylesheet" href="/css/pefil.css" />     
    <link rel="shortcut icon" href="https://estudante.sesisenai.org.br/img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <title>Seu perfil</title>
</head>

    <body>


        <div class="containerProfile">
            <div class="imgProfile">
                <img id="profilePic" src="https://i.pinimg.com/474x/73/14/cc/7314cc1a88bf3cdc48347ab186e12e81.jpg" alt="Imagem de perfil do usuário">
            </div>
        </div>
    </body>

</html>